django<3.3
django-filter
django-netfields
djangorestframework
drf_yasg
gunicorn
httptools
psycopg2
python-dotenv
requests
uvicorn
uvloop
openstacksdk
python-glanceclient
python-openstackclient
python-keystoneclient
